<div class="wrapper">
  <nav>
    <span class="home" style="float: left;" routerLink="/"><img class="icon" src="https://img.icons8.com/material-outlined/24/000000/home--v2.png"></span>
    <span class="cart" style="float: right;" routerLink="/checkout"><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/shopping-cart--v1.png">{{cartTotal}}</span>
  </nav>
</div>
