<app-header [cartTotal]="quantity"></app-header>
<div class="wrapper">
    <img [src]="phone.ImgUrl" width="150px" height="150px">
    <div>
        <span class="">{{phone.Name}}</span><br>
        <span class="">€ {{phone.Price}}</span>
        <div style="margin: 10px 0px 0px 15px;">
            <div class="">Disponivel em: </div>
            <span class="color" *ngFor="let color of phone.Color">
                {{color}}
            </span>
        </div>
        <div style="margin: 10px;">
            <button class="" style="display:inline-block;" (click)="decrementQuantity(phone)"
                [disabled]="phone.Quantity == 1">-</button>
            <span style="margin: 12px;">{{quantity}}</span>
            <button (click)="incrementQuantity(phone)">+</button>
        </div>
        <div>
            <button class="marginLeft" routerLink="/details/{{phone.Id}}" [disabled]='!phone.IsAvailable'>Comprar</button>
        </div>
    </div>
</div>