<div class="wrapper">
  <h1>Checkout</h1>
  <form action="">
    <div class="row">
      <label for="adress">Address:</label>
      <input type="text" id="address" name="address" value="">
    </div>
  </form>
</div>
