<app-header [cartTotal]="quantity"></app-header>
<div class="wrapper">
    <h1>Ecommerce List Equipments!</h1>
    <div class="product" *ngFor="let phone of myPhones" routerLink="/details/{{phone.Id}}">
        <div class="image">
            <img [src]="phone.ImgUrl" width="150px" height="150px">
        </div>
        <div class="details">
            <h3 class="marginLeft">{{phone.Name}}</h3>
            <div class="marginLeft">€ {{phone.Price}}</div>
            <!--
            <div style="margin: 10px 0px 0px 15px;">
                <span class="marginLeft">Disponivel em: </span>
                <div class="colors">
                    <span class="color" *ngFor="let color of phone.Color">
                        {{color}}
                    </span>
                </div>
            </div>
            <div style="margin: 10px 0px 0px 15px;">
                <button class="marginLeft" style="display:inline-block;" (click)="decrementQuantity(phone)"
                    [disabled]="phone.Quantity == 1">-</button>
                <span style="margin:0px 12px 0px 12px;">{{phone.Quantity}}</span>
                <button (click)="incrementQuantity(phone)">+</button><br><br>
            </div>
            <button class="marginLeft" routerLink="/details/{{phone.Id}}" [disabled]='!phone.IsAvailable'>Comprar</button><br>
            -->
        </div>
    </div>
</div>

<!--
<app-ecommerce-equipment-detail [phone]="myPhones[2]"></app-ecommerce-equipment-detail>
-->
