/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.wrapper {
  text-align: center;
}

nav {
  width: 60%;
  margin: 0 auto;
}

.icon {
  margin: 5px;
  height: 30px;
  width: auto;
}

[ng-reflect-router-link*="/"] {
  cursor: pointer;
}
[ng-reflect-router-link*="/"]:hover {
  opacity: 0.7;
}
[ng-reflect-router-link*="/"]:focus {
  outline: none;
}

.color {
  padding: 0 5px;
  border-right: solid 1px #444444;
}
.color:last-child {
  border-right: none;
}

button {
cursor: pointer;
}
